<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD com.imnotdb.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.imnotdb.Mapper.AkasMapperbak">
    <select id="getAkasByName" parameterType="String" resultType="akas" >
        SELECT * FROM imnotdb.title_akas WHERE MATCH(title) AGAINST(#{name});
    </select>

    <select id="getAkasByTconst" parameterType="String" resultType="akas">
        SELECT * FROM imnotdb.title_akas WHERE tconst=#{tconst};
    </select>

</mapper>